/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body {
   background-color: #500050;
}

.img img {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .6;
}

  .sidebar {
  background-image: linear-gradient(
    45deg,#400040,#800080);
    background-repeat: no-repeat;
  padding: 5px;
  position: relative;
  z-index: 9999px;
  padding-bottom: 45px;
  border: 1px solid white;
  border-radius: 1rem 001rem;
  margin: 10px;
}

.sidebar a {
width: 40px;
height: 100%;
background-image: linear-gradient(
    45deg,#400040,#800080);
    background-repeat: no-repeat;
padding: 15px;
padding-right: 70px;
box-sizing: border-box;
color: #fff; overflow: hidden;
border-radius: 1rem 001rem;
transition: width .75s ease;
text-decoration: none;
display: inline-block;
border: 1px solid white;
margin-left: 15px;
margin-bottom: -38px;
z-index: 9999px;
position: relative;
}

.sidebar a:hover{
width: 85px;
}

.kotak h1 {
  font-weight: bold;
  font-family: arial;
  font-size: 15px;
  text-align: center;
  position: relative;
  z-index: 9999px;
  color: white;
  padding: 45px;
  border: 1px solid white;
  border-radius: 1rem 001rem;
  margin: 10px;
  background-image: linear-gradient(
    45deg,#400040,#800080);
    background-repeat: no-repeat;
    padding-left: 65px;
    padding-right: 65px;
}

@media screen and (min-width: 600px){
      .container {
  width: 440px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
.Klk1 img {
  margin-top: 35px;
}
.Klk2 img {
  margin-top: 35px;
}
    }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 70px;
}

.Klk1 img {
  width: 155px;
  height: 155px;
  position: relative;
  border: 2px solid black;
  border-radius: 0.8rem 000.8rem;
  transition: 0.3s ease;
}

.Klk1 img:hover {
  border-radius: 0rem 000rem;
  box-shadow: 5px 20px 50px black;
}

.Klk2 img {
  width: 155px;
  height: 155px;
  position: relative;
  border: 2px solid black;
  border-radius: 0.8rem 000.8rem;
  transition: 0.3s ease;
}

.Klk2 img:hover {
  border-radius: 0rem 000rem;
  box-shadow: 5px 20px 50px black;
}

.Klk3 img {
  width: 155px;
  height: 155px;
  margin-top: 35px;
  position: relative;
  border: 2px solid black;
  border-radius: 0.8rem 000.8rem;
  transition: 0.3s ease;
}

.Klk3 img:hover {
  border-radius: 0rem 000rem;
  box-shadow: 5px 20px 50px black;
}

.Klk4 img {
  width: 155px;
  height: 155px;
  margin-top: 35px;
  position: relative;
  border: 2px solid black;
  border-radius: 0.8rem 000.8rem;
  transition: 0.3s ease;
}

.Klk4 img:hover {
  border-radius: 0rem 000rem;
  box-shadow: 5px 20px 50px black;
}

.Klk5 img {
  width: 155px;
  height: 155px;
  margin-top: 35px;
  position: relative;
  border: 2px solid black;
  border-radius: 0.8rem 000.8rem;
  transition: 0.3s ease;
}

.Klk5 img:hover {
  border-radius: 0rem 000rem;
  box-shadow: 5px 20px 50px black;
}

  .copyright {
   background-color: #1f1f1f;
   padding-top: 60px;
   margin-right: 0%;
   border-top: 2px dashed rgb(230, 198, 198);
   position: absolute;
   top: 900px;
   width: 100%;
   margin-top: 120px;
}

.copyright .cpr h1 {
  color: white;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: -30px;
  font-family: Verdana;
}

.copyright .tentang a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
  top: -50px;
  padding: 10px;
  margin-left: 35px;
  font-size: 14px;
  transition: .8s ease;
  font-family: arial,verdana;
}

.copyright .tentang a:hover {
  color: blue;
  text-decoration: underline;
}

.copyright .pjsn h1 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -50px;
  padding: 20px;
 padding-left: 10px;
}